.container {
    display: flex;
    padding: 1rem 2rem;
    border: solid #969696 1px;
    border-radius: 100px;
    gap: 1rem;
    transition: 300ms ease;
    align-items: center;
}

.container:hover {
    gap: 2rem;
    transition: 300ms ease;
}

.text {
    font-size: 1.5rem;
    font-weight: 300;
}

@media (max-width: 768px) {
    .text{
        font-size: 1rem;
    }
}